<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action(" Index","Home")">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i>Account<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="form.html">View Account</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-desktop"></i>Account type<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action(" ViewAccountType","AccountType")">View Account Type</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-table"></i>Transaction<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html">Deposit</a></li>
                    <li><a href="#">Withdrawal</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-bar-chart-o"></i>Transaction Type<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">View Transaction Type</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-file"></i>Report<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="chartjs.html">Chart JS</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-gears"></i>System Administrator<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="chartjs.html">Create User</a></li>
                    <li><a href="">Create Permission</a></li>
                    <li><a href="#">Assign permission</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
<!-- /menu footer buttons -->

